/*body{ 
    background-image: url(../img_src/bg.png) ;
}*/

@media (max-width : 599px) {
    body{
        background-color: red ;
    }
}

@media (min-width : 600px) {
    body{
        background-color: rgb(24, 122, 139);
    }
}