
h1 {
    color: lightgreen;    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    font-weight: bold;
    display: inline-block; 
    border: 3px solid rgb(228, 5, 5);
    border-style: dotted;
    padding: 10px; 
    text-align: center;
    justify-content: center; 
}

